In [15]:
import pandas as pd
import os

In [2]:
monthzero = pd.read_csv('uda_contractor_201605.csv')
monthzero.head(5)

,YEAR_MONTH,COMMISSIONER_CODE,COMMISSIONER_NAME,CONTRACT_NUMBER,PROVIDER_NAME,LATEST_PPC_ADDRESS_POSTCODE,LSOA11_CODE,UDA_PERF_TARGET,UDA_FIN_VAL,UDA_DELIVERED,LATE_SUBMITTED_FP17,UDA_DELIVERED_FD,BAND_1_DELIVERED,BAND_2_DELIVERED,BAND_3_DELIVERED,BAND_URGENT_DELIVERED,BAND_OTHER_DELIVERED,CHILD_12M_COUNT,ADULT_24M_COUNT,GENERAL_DENTAL_FIN_VALUE
0,201605,Q50,North Yorkshire and Humber AT,1000070000,MR PJ GODFREY,DN15 6HL,E01013330,1,20.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.14
1,201605,Q44,"Cheshire, Warrington and Wirral AT",1000080000,Raby Road Dental Centre,CH64 9UZ,E01018534,19145,550810.64,1596.2,0.0,0.0,527.0,193.0,32.0,86.0,5.0,588.0,2050.0,550810.64
2,201605,Q56,East Anglia AT,1000100000,"Jinesh Vaghela, Jiten Vaghela and K Patel",NR19 1DR,E01026426,11500,276399.32,738.8,0.0,146.8,264.0,82.0,16.0,24.0,8.0,220.0,855.0,276399.32
3,201605,Q68,Surrey and Sussex AT,1000120000,Ruta Lagunaite,RH2 9BZ,E01030623,5009,132023.20,438.2,0.0,0.0,85.0,54.0,15.0,6.0,4.0,57.0,337.0,132023.20
4,201605,Q57,Essex AT,1000210000,"Mr S Shah, Mr P Vaid & Mr S Radia",CO15 3BW,E01021968,15000,406568.46,884.0,0.0,0.0,134.0,120.0,29.0,35.0,0.0,281.0,848.0,406568.46

In [15]:
monthend = pd.read_csv('uda_contractor_202303.csv')
monthend.head()

,YEAR_MONTH,COMMISSIONER_CODE,COMMISSIONER_NAME,CONTRACT_NUMBER,PROVIDER_NAME,LATEST_PPC_ADDRESS_POSTCODE,LSOA11_CODE,UDA_PERF_TARGET,UDA_FIN_VAL,UDA_DELIVERED,LATE_SUBMITTED_FP17,UDA_DELIVERED_FD,BAND_1_DELIVERED,BAND_2_DELIVERED,BAND_3_DELIVERED,BAND_URGENT_DELIVERED,BAND_OTHER_DELIVERED,CHILD_12M_COUNT,ADULT_24M_COUNT,GENERAL_DENTAL_FIN_VALUE
0,202303,QYG,Cheshire and Merseyside ICB,1000080000,Raby Road Dental Centre,CH64 9UZ,E01018534,19145,629762.98,1673.8,0.0,202.6,393.0,223.0,37.0,59.0,4.0,1231.0,4761.0,629762.98
1,202303,QMM,Norfolk and Waveney ICB,1000100000,"Jinesh Vaghela, Jiten Vaghela and K Patel",NR19 1DR,E01026426,11500,321593.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.0,1778.0,321593.87
2,202303,QXU,Surrey Heartlands ICB,1000120000,Ruta Lagunaite,RH2 9BZ,E01030623,5009,153610.54,802.0,0.0,0.0,109.0,75.0,34.0,14.0,1.0,424.0,868.0,153610.54
3,202303,QJG,Suffolk and North East Essex ICB,1000210000,"Mr S Shah, Mr P Vaid & Mr S Radia",CO15 3BW,E01021968,15000,480848.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,860.0,480848.93
4,202303,QUY,"Bristol, North Somerset and South Gloucestersh...",1000260000,"The Dental Clinic, Portishead",BS20 6EH,E01032681,1359,40912.13,50.0,0.0,0.0,27.0,7.0,0.0,0.0,3.0,289.0,89.0,40912.13

In [14]:
import pandas as pd


# Concatenate the DataFrames vertically
combined_df = pd.concat([monthzero, monthend], axis=0)

# Optional: Reset the index if you want a continuous index
combined_df.reset_index(drop=True, inplace=True)
combined_df

NameError: name 'monthend' is not defined

In [16]:
import pandas as pd
import os

# Directory where the CSV files are stored
directory = './'

# List to hold all the DataFrames
dataframes = []

# Assuming the first file starts from January 2019 and you want to read through December 2024
# Update these dates based on your actual file range
start_year = 2016
end_year = 2023

# Loop through each year and month
for year in range(start_year, end_year + 1):
    for month in range(1, 13):
        filename = f'uda_contractor_{year}{month:02}.csv'  # Formats month as two digits
        file_path = os.path.join(directory, filename)

        if os.path.exists(file_path):  # Check if the file exists before reading
            print(f'loading file {filename}')
            
            try:
                df = pd.read_csv(file_path)
            except Exception:
                df = pd.read_csv(file_path, encoding = "ISO-8859-1")
            dataframes.append(df)
        else:
            print(f"File not found: {filename}")

# Concatenate all the DataFrames vertically
combined_df = pd.concat(dataframes, axis=0, ignore_index=True)

File not found: uda_contractor_201601.csv
File not found: uda_contractor_201602.csv
File not found: uda_contractor_201603.csv
File not found: uda_contractor_201604.csv
loading file uda_contractor_201605.csv
loading file uda_contractor_201606.csv
loading file uda_contractor_201607.csv
File not found: uda_contractor_201608.csv
File not found: uda_contractor_201609.csv
loading file uda_contractor_201610.csv
File not found: uda_contractor_201611.csv
File not found: uda_contractor_201612.csv
loading file uda_contractor_201701.csv
loading file uda_contractor_201702.csv
loading file uda_contractor_201703.csv
loading file uda_contractor_201704.csv
loading file uda_contractor_201705.csv
loading file uda_contractor_201706.csv
loading file uda_contractor_201707.csv
loading file uda_contractor_201708.csv
File not found: uda_contractor_201709.csv
loading file uda_contractor_201710.csv
loading file uda_contractor_201711.csv

loading file uda_contractor_201712.csv
loading file uda_contractor_201801.csv
loading file uda_contractor_201802.csv
loading file uda_contractor_201803.csv
loading file uda_contractor_201804.csv
loading file uda_contractor_201805.csv
loading file uda_contractor_201806.csv
File not found: uda_contractor_201807.csv
loading file uda_contractor_201808.csv
loading file uda_contractor_201809.csv
loading file uda_contractor_201810.csv
loading file uda_contractor_201811.csv
loading file uda_contractor_201812.csv
loading file uda_contractor_201901.csv
loading file uda_contractor_201902.csv
loading file uda_contractor_201903.csv
loading file uda_contractor_201904.csv
loading file uda_contractor_201905.csv
loading file uda_contractor_201906.csv
loading file uda_contractor_201907.csv
loading file uda_contractor_201908.csv
loading file uda_contractor_201909.csv
loading file uda_contractor_201910.csv
loading file uda_contractor_201911.csv
loading file uda_contractor_201912.csv
loading file uda_contractor_202001.csv
loading file uda_contractor_202002.csv
loading file uda_contractor_202003.csv
loading file uda_contractor_202004.csv
loading file uda_contractor_202005.csv
loading file uda_contractor_202006.csv
loading file uda_contractor_202007.csv
loading file uda_contractor_202008.csv
loading file uda_contractor_202009.csv
loading file uda_contractor_202010.csv
loading file uda_contractor_202011.csv
loading file uda_contractor_202012.csv
loading file uda_contractor_202101.csv
loading file uda_contractor_202102.csv
loading file uda_contractor_202103.csv
loading file uda_contractor_202104.csv
loading file uda_contractor_202105.csv
loading file uda_contractor_202106.csv
loading file uda_contractor_202107.csv
loading file uda_contractor_202108.csv
loading file uda_contractor_202109.csv
loading file uda_contractor_202110.csv
loading file uda_contractor_202111.csv
loading file uda_contractor_202112.csv
loading file uda_contractor_202201.csv
loading file uda_contractor_202202.csv
loading file uda_contractor_202203.csv
loading file uda_contractor_202204.csv
loading file uda_contractor_202205.csv
loading file uda_contractor_202206.csv
loading file uda_contractor_202207.csv
loading file uda_contractor_202208.csv
loading file uda_contractor_202209.csv
loading file uda_contractor_202210.csv
loading file uda_contractor_202211.csv
loading file uda_contractor_202212.csv
loading file uda_contractor_202301.csv
loading file uda_contractor_202302.csv
loading file uda_contractor_202303.csv
File not found: uda_contractor_202304.csv
File not found: uda_contractor_202305.csv
File not found: uda_contractor_202306.csv
File not found: uda_contractor_202307.csv
File not found: uda_contractor_202308.csv
File not found: uda_contractor_202309.csv
File not found: uda_contractor_202310.csv
File not found: uda_contractor_202311.csv
File not found: uda_contractor_202312.csv

In [9]:
print(len(dataframes))

86

In [18]:
alldata = pd.concat(dataframes)

In [20]:
alldata.to_csv('merged_data.csv')